// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices - tablets
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

@mixin logo($width, $height) {
    width: $width;
    height: $height;
    background: url('/starter-code/assets/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin button($bgc, $width, $height, $hover-color) {
    width: $width;
    height: $height;
    border-radius: 28px;
    border: none;
    color: $white;
    background-color: $bgc;
    font-size: 14px;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover{
        background-color: $hover-color;
    }
}

@mixin tile($width, $height, $color) {
    box-sizing: border-box;
    padding: 24px;
    width: $width;
    height: $height;
    border-radius: 8px;
    background-color: $color;
    color: $white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

 @mixin image {
    grid-area: 1 / 2 / 2 / 3; 
    justify-self: end;
  }

 @mixin text {
    align-self: end;
    grid-area: 2 / 1 / 3 / 3;
    margin: 0;
    font-size: 24px;
    font-weight: $bold;
    width: auto;
  }

  @mixin swipe-button {
    cursor: pointer;
    background-color: $black;
    margin: 8px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 0;
    transition: 0.2s linear;
    &:hover{
        background-color: $purple;
    }
  }
